<div class="banner">
    <app-user-header></app-user-header>
    <div class="container">
        <!-- <div class="offer">
            <h1>** 30% off on shopping above <span>5000</span> rupess **</h1>
        </div> -->
        <!-- try -->

        <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="..." alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div> -->



        <!-- try end -->
        <div class="row">
            <div class="col-lg-4 spacer" *ngFor="let ele of products">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ele.imageurl}}" alt="Card image cap" style=" width: 288px;height: 288px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ele.id}} - {{ele.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-danger">{{ele.price}}/- only</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-secondary" (click)="addCart(ele)">CART</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-secondary" (click)="addtoWishList(ele)">WISHLIST</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- if Products are empty -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">Sorry No Products Found</div>
    </div>
</div>