.banner {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../../Images/wishlist-1.jpg);
    /* background-image: url("../../Images/room.jpg"); */
    background-size: cover;
    background-position: center;
}

.offer {
    margin-top: 30px;
    width: 100%;
    height: 120px;
    background-color: #283618;
    opacity: 0.7;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address {
    padding: 30px;
    /* margin-bottom: 30px; */
    color: whitesmoke;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid red;
    width: 100%;
    /* height: 400px; */
}

.addform {
    width: 50%;
}

table,
th,
td {
    border: 1px solid whitesmoke;
}