<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">SHOP FOR HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/admindash" *ngIf="service.rolematch('ROLE_ADMIN')">AdminDashBoard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/userdash" *ngIf="service.rolematch('ROLE_USER')">UserDashBoard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="contact">ContactUS</a>
                </li>
            </ul>
            <button *ngIf="! isLoggedin()" type="button" class="btn btn-secondary" routerLink="/login">Login</button>&nbsp;
            <button *ngIf="isLoggedin()" type="button" class="btn btn-secondary" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>